
.c1{
  margin-top: 40px !important;
  background-color: rgb(204, 118, 47);
  box-shadow: 2px 2px 3px black;
  // padding: 50px;
  padding-top: 10px;
}


.table{
  margin-top: 40px !important;
  margin-bottom: 50px !important;
  border-radius: 8px;

  // padding: 50px;
}
